<?php
/**
 * @var /SM/Article/Block/AllArticle $block
 */

$base_url = $this->getBaseUrl();

if (isset($_GET['id'])) {
    $detail = $block->articleDetail($_GET['id']);
    $detail = $detail[0];
}
?>

<div>
    <h1>List Article</h1>
    <table class="table-wrapper table" style="width: 670px">
       <b><a href="<?= $base_url ?>article/index/addarticle">Add new article</a></b>
        <tr>
            <th style="width: 10%">#</th>
            <th style="width: 40%">Title</th>
            <th style="width: 40%">Action</th>
        </tr>
        <?php
        foreach (($block->article()) as $article) { ?>
            <tr>
                <td><?= $article['article_id'] ?></td>
                <td>
                        <?= $article['title'] ?>
                    </a>
                </td>
                <td>
                    <a href="<?= $base_url ?>article/index/detail?id=<?= $article['article_id'] ?>">
                        <button class="btn btn-success">View Detail</button>
                    </a>
                    <a href="<?= $base_url ?>article/index/allarticle?del=<?= $article['article_id'] ?>">
                        <button class="">Delete</button>
                    </a>
                    <a href="<?= $base_url ?>article/index/allarticle?edit=<?= $article['article_id'] ?>">
                        <button class="">Edit</button>
                    </a>
                </td>
            </tr>
        <?php } ?>
    </table>

</div>