<?php
/**
 * @var /SM/Article/Block/Detail $block
 */
$detail = $block->getArticleDetail();
$detail = $detail[0];
?>

<?php if (isset($detail)) { ?>
    <h3>Article Detail</h3>
    <table class="table table-wrapper" style="width: auto">
        <tr>
            <th>#</th>
            <th style="width: 20%">Title</th>
            <th style="width: 45%;">Content</th>
            <th>Image</th>
            <th>Create at</th>
            <th>Update at</th>
        </tr>
        <tr>
            <td><?= $detail['article_id'] ?></td>
            <td><?= $detail['title'] ?></td>
            <td><?= $detail['content'] ?></td>
            <td><?= $detail['image'] ?></td>
            <td><?= $detail['created_at'] ?></td>
            <td><?= $detail['updated_at'] ?></td>
        </tr>
    </table>
<?php }?>